body {
  font-size: 16px;
  color: #00008B;
  background-color: #5F9EA0;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #00FFFF;
  border-radius: 0;
  border: 0;
}

#nav-list > li {
    text-align: center;
}

.navbar-brand {
  padding-top: 20px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #8A2BE2;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #00008B;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
